---
layout: default
pagination:
  enabled: true
  category: photos
  per_page: 24
---

{% assign index = true %}

{% include header.html %}

<div id="content">
  <header class="container photos__header">
    <h1 class="photos__heading">Photos</h1>
  </header>

  <div class="photos-container">
  {% for post in paginator.posts %}
    <article class="photo-post">
      {% if post.image %}
        <a href="{{ post.url }}">
          {% picture photo-thumb {{ post.image }} alt="" title="{{ post.title }}" %}
        </a>
      {% endif %}
    </article>
  {% endfor %}
  </div>

  <div class="container pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{ paginator.next_page_path }}">&larr; Older</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a class="next" href="{{ paginator.previous_page_path }}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>

{% include footer.html %}
