$background-color: white;

$text-color: #333;
$text-color-light: lighten($text-color, 45%);
$heading-color: #333;
$meta-text-color: lighten($text-color, 45%);
$header-color: #518F00;

$border-color: #ccc;

$link-color: rgb(24, 99, 161);
$link-color-hover: lighten($link-color, 10%);

$footer-link-color: lighten($text-color, 25%);
$footer-link-color-hover: lighten($link-color, 10%);
