$max-width: 800px !default;
$pad-min: 8.5% !default;

header[role=banner] {
  padding: 1em 0 0.5em;
  h1 {
    font-size: 1em;
    margin: 0.25em 0 0.5em;
    a {
      color: white;
      line-height: 0;
      text-decoration: none;
      span {
        width: 0;
        font-size: 0;
        overflow: hidden;
      }
    }
  }
}

article img {
  max-width: 100%;
  height: auto;
}

article img.left {
  float: left;
  margin-right: 1em;
}

article img.right {
  float: right;
  margin-left: 1em;
}

#content header,
.entry-content > *,
.container,
footer,
.pagination {
  padding-left: $pad-min;
  padding-right: $pad-min;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

nav[role=navigation] {
  font-size: 1em;
}

header[role=banner] h1 img {
  width: 4.6982758621em;
  height: 3.4051724138em;
}

@media only screen and (min-width: 450px) {
  body {
    font-size: 110%;
  }
}

@media only screen and (min-width: 650px) {
  body {
    font-size: 125%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 135%;
  }
}

@media only screen and (min-width: 892px) {
  body {
    font-size: 145%;
  }
}
