---
layout: default
pagination:
  enabled: true
  category: blog
---

{% assign index = true %}

{% include header.html %}

<div id="content">
  {% for post in paginator.posts %}
    {% assign content = post.content %}

    <article class="article">
      {% include index_article.html %}
    </article>
  {% endfor %}

  <div class="container pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{ paginator.next_page_path }}">&larr; Older</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a class="next" href="{{ paginator.previous_page_path }}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>

{% include footer.html %}
