$photo-wide-max-width: 1024px;

.photo--wide {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 1048px) {
  .photo--wide {
    max-width: 100%;

    img {
      margin: -0.5em 0;
      padding: 0.5em 0;
    }
  }
}

@media only screen and (min-width: 1049px) {
  .photo--wide {
    max-width: $photo-wide-max-width;
  }
}
