.site-footer {
  font-size: 0.8em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  z-index: 1;

  a {
    color: $footer-link-color;
    text-decoration: none;

    &:hover { color: $footer-link-color-hover; }
    &:visited { color: $footer-link-color; }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  fieldset {
    border: 0;
    input[type=search] {
      -webkit-appearance: none;
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance:none;
      }
      border-radius: 1em;
      border: {
        width: 1px;
        style: solid;
        color: #999 #bbb #bbb #999;
      };
      color: $text-color;
      font-family: $body-font-family;
      font-size: 1em;
      padding: 0.15em 0.75em;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px $link-color;
      }
    }
  }
}
