body > footer {
  text-align: center;
  font-size: 0.8em;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-radius-bottom: 0.4em;
  z-index: 1;

  a {
    color: $footer-link-color;
    &:hover { color: $footer-link-color-hover; }
    &:visited { color: $footer-link-color; }
    text-decoration: none;
  }

  p:last-child { margin-bottom: 0; }

  fieldset {
    border: 0;
    input[type=search] {
      -webkit-appearance: none;
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance:none;
      }
      border-radius: 1em;
      border: {
        width: 1px;
        style: solid;
        color: #999 #bbb #bbb #999;
      };
      color: $text-color;
      font-family: $body-font-family;
      font-size: 1em;
      padding: 0.15em 0.75em;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px $link-color;
      }
    }
  }
}
