dl {
  margin: 1.75em 0;
}

dt {
  font-style: italic;
  margin-top: 1.25em;
  font-size: 1.13em;
  font-weight: 700;
  border-bottom: 1px solid #999;
  background: #DDD;
}

dd {
  font-style: italic;
  font-size: 0.85em;
  margin-top: 1em;
  line-height: 1.6em;
}
