h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font-family;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.333;
  margin: 4rem 0 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 2rem 0 0.5rem;
}

h3 {
  font-size: 1.125rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
}
