ul,
ol {
  margin: 1.5rem 0 1.5rem;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  line-height: 1.5;
  padding-left: 0;
}

li {
  margin-bottom: 0.75em;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}
