---
layout: default
---

{% include header.html %}

<div id="content">
  <article class="article" role="article">
    {% if page.title %}
      <header class="article__header container">
        <h1 class="article__title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
    {% endif %}

    <div class="article__content">
      {{ content }}
    </div>

    {% unless page.footer == false %}
      <footer class="article__footer">
        {% if page.date or page.author %}<p class="meta">
          {% if page.author %}{% include post/author.html %}{% endif %}
          {% if page.categories %}{% include post/categories.html %}{% endif %}
        </p>{% endif %}
      </footer>
    {% endunless %}
  </article>
</div>

{% include footer.html %}
